# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app

# Others
*.db
*.opendb
*.db
*.exe
*.ilk
*.obj
*.log
*.tlog
*.lastbuildstate
*.idb
*.db
sfmlScripting/sfmlScripting.VC.db
*.db
*.tlog
*.log
*.suo